#aboutBg {
    background-color: var(--mainY);
    /* background-color: #FFDE49; */
    width: 100%;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

/* 클릭유도버튼 1 */
.button-container {
    position: absolute;
    top: -6%;
    left: -16%;
    z-index: 100000;
}

.button {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle {
    width: 8px;
    height: 8px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    animation: bounce-opacity 2.5s infinite;
}

@keyframes bounce-opacity {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
}

.outer-circle {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    animation: bounce 1.5s infinite;

}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    50%,
    70% {
        transform: scale(2.2);
        opacity: 0;
    }
}

/* 클릭유도버튼 2 */
.button-container2 {
    position: absolute;
    top: 15%;
    left: -2%;
    z-index: 100000;
}

.button2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle2 {
    width: 6px;
    height: 6px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    animation: bounce-opacity 2.5s infinite;
}

@keyframes bounce-opacity {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
}

.outer-circle2 {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    animation: bounce 1.5s infinite;

}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    50%,
    70% {
        transform: scale(2.2);
        opacity: 0;
    }
}

/* 클릭유도버튼 3 */
.button-container3 {
    position: absolute;
    top: 64%;
    left: -4%;
    z-index: 100000;
}

.button3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle3 {
    width: 6px;
    height: 6px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    animation: bounce-opacity 2.5s infinite;
}

@keyframes bounce-opacity {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
}

.outer-circle3 {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    animation: bounce 1.5s infinite;

}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    50%,
    70% {
        transform: scale(2.2);
        opacity: 0;
    }
}

/* 클릭유도버튼 4 */
.button-container4 {
    position: absolute;
    top: 14.2%;
    left: 89.4%;
    z-index: 100000;
}

.button4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle4 {
    width: 6px;
    height: 6px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    animation: bounce-opacity 2.5s infinite;
}

@keyframes bounce-opacity {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
}

.outer-circle4 {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    animation: bounce 1.5s infinite;

}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    50%,
    70% {
        transform: scale(2.2);
        opacity: 0;
    }
}

/* 클릭유도버튼 5 */
.button-container5 {
    position: absolute;
    top: 48%;
    left: 91%;
    z-index: 100000;
}

.button5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-circle5 {
    width: 6px;
    height: 6px;
    background-color: var(--white);
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    animation: bounce-opacity 2.5s infinite;
}

@keyframes bounce-opacity {

    0%,
    100% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
}

.outer-circle5 {
    width: 35px;
    height: 35px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    animation: bounce 1.5s infinite;

}

@keyframes bounce {

    0%,
    100% {
        transform: scale(1);
        opacity: 0.8;
    }

    50%,
    70% {
        transform: scale(2.2);
        opacity: 0;
    }
}

/* aboutSection1 */
.aboutSection1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -6px;
}

/* ab-Img3 */
.ab-Img3 {
    width: 35px;
    position: absolute;
    top: 15px;
    left: 54%;
    z-index: 100;
}

.abFlower1 {
    animation: abflower1 2.5s infinite;
}

@keyframes abflower1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-8deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img4 */
.ab-Img4 {
    width: 30px;
    position: absolute;
    top: -12px;
    left: 35%;
    z-index: 100;
}

.abFlower2 {
    animation: flower2 2.5s infinite;
}

@keyframes flower2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(8deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img5 */
.ab-Img5 {
    width: 33px;
    position: absolute;
    top: -7px;
    left: 71%;
    z-index: 100;
}

.abFlower3 {
    animation: flower3 2.5s infinite;
}

@keyframes flower3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img6 */
.ab-Img6 {
    width: 43px;
    position: absolute;
    top: 3%;
    left: 87%;
    z-index: 100;
}

.abFlower4 {
    animation: flower4 2.5s infinite;
}

@keyframes flower4 {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-10deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(5deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img7 */
.ab-Img7 {
    width: 60px;
    position: absolute;
    top: 8%;
    left: 74%;
    z-index: 0;
}

.abFlower5 {
    animation: flower4 2.5s infinite;
}

@keyframes flower4 {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-10deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(5deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img8 */
.ab-Img8 {
    width: 55px;
    position: absolute;
    top: 15%;
    left: 90%;
    z-index: 90;
}

.abFlower6 {
    animation: flower4 2.5s infinite;
}

@keyframes flower4 {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-10deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(5deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img8-1 */
.ab-Img8-1 {
    width: 58px;
    position: absolute;
    top: 81px;
    left: 377px;
    z-index: 1;
}

.abFlower6-1 {
    animation: flower4 2.5s infinite, blink 1s infinite;
}

@keyframes flower4 {
    0% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(-10deg);
        /* 왼쪽으로 10도 회전 */
    }

    100% {
        transform: rotate(5deg);
        /* 원래 위치로 회전 */
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* ab-Img9 */
.ab-Img9 {
    width: 90px;
    position: absolute;
    top: 28%;
    left: 86%;
    z-index: 90;
}

.abFlower10 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img10 */
.ab-Img10 {
    width: 98px;
    position: absolute;
    top: 58%;
    left: 67%;
    z-index: 0;
}

.abFlower11 {
    animation: flower2-2 5s ease-in-out infinite;
}

@keyframes flower2-2 {
    0% {
        transform: translateX(0) rotate(0deg);
    }

    25% {
        transform: translateX(5px) rotate(2deg);
    }

    50% {
        transform: translateX(-5px) rotate(-2deg);
    }

    75% {
        transform: translateX(5px) rotate(2deg);
    }

    100% {
        transform: translateX(0) rotate(0deg);
    }
}

/* ab-Img11 */
.ab-Img11 {
    width: 58px;
    position: absolute;
    top: 92%;
    left: 20%;
    z-index: 1;
}

.abFlower12 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img12*/
.ab-Img12 {
    width: 48px;
    position: absolute;
    top: 87%;
    left: 37%;
    z-index: 1;
    transform: rotate(120deg);
}

.abFlower13 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img13*/
.ab-Img13 {
    width: 58px;
    position: absolute;
    top: 80%;
    left: 74%;
    z-index: 0;
    transform: rotate(120deg);
}

.abFlower14 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img14*/
.ab-Img14 {
    width: 40px;
    position: absolute;
    top: 87%;
    left: 96%;
    z-index: 90;
    transform: rotate(90deg);
}

.abFlower15 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img15*/
.ab-Img15 {
    width: 40px;
    position: absolute;
    top: 87%;
    left: 8%;
    z-index: 90;
    transform: rotate(90deg);
}

.abFlower16 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img16*/
.ab-Img16 {
    width: 60px;
    position: absolute;
    top: 74%;
    left: 5%;
    z-index: 60;
}

.abFlower17 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img17*/
.ab-Img17 {
    width: 60px;
    position: absolute;
    top: 63%;
    left: -2%;
    z-index: 60;
}

.abFlower18 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img17-1*/
.ab-Img17-1 {
    width: 60px;
    position: absolute;
    top: 63%;
    left: -8px;
    z-index: 50;
    transform: rotate(-59deg) scaleX(-1);
}

.abFlower18-1 {
    animation: flower6 2.5s infinite, blink 1s infinite;
    ;

}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}


@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* ab-Img18*/
.ab-Img18 {
    width: 110px;
    position: absolute;
    top: 19%;
    left: 4%;
    z-index: 0;
}

.abFlower19 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img19*/
.ab-Img19 {
    width: 40px;
    position: absolute;
    top: 15%;
    left: 1%;
    z-index: 100;
}

.abFlower20 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img19-1*/
.ab-Img19-1 {
    width: 44px;
    position: absolute;
    top: 81px;
    left: 2px;
    z-index: 10;
}

.abFlower20-1 {
    animation: flower6 2.5s infinite, blink 1s infinite;
    ;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* ab-Img20*/
.ab-Img20 {
    width: 55px;
    position: absolute;
    top: 3%;
    left: 28%;
    z-index: 0;
    transform: rotate(100deg);
}

.abFlower21 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img21*/
.ab-Img21 {
    width: 40px;
    position: absolute;
    top: 2%;
    left: 20%;
    z-index: 100;
    transform: rotate(100deg);
}

.abFlower22 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img22*/
.ab-Img22 {
    width: 40px;
    position: absolute;
    top: 50%;
    left: 94%;
    z-index: 100;
    transform: rotate(100deg);
}

.abFlower23 {
    animation: flower6 2.5s infinite;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* 꽃 깜박임 */
/* ab-Img22-1*/
.ab-Img22-1 {
    width: 44px;
    position: absolute;
    top: 276px;
    left: 393px;
    z-index: 1;
    transform: rotate(100deg);
}

.abFlower23-1 {
    animation: flower6 2.5s infinite, blink 1s infinite;
    ;
}

@keyframes flower6 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* ab-Img23*/
.ab-Img23 {
    width: 35px;
    position: absolute;
    top: 10.5%;
    left: 103%;
    z-index: 0;
    transform: rotate(50deg);
}

.abFlower24 {
    animation: abLeaf 2.5s infinite;
}

@keyframes abLeaf {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-12deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img24*/
.ab-Img24 {
    width: 25px;
    position: absolute;
    top: 35%;
    left: 82%;
    z-index: 0;
    transform: rotate(-110deg);
}

.abFlower25 {
    animation: abLeaf 2.5s infinite;
}

@keyframes abLeaf {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-12deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img25*/
.ab-Img25 {
    width: 25px;
    position: absolute;
    top: 23%;
    left: -7%;
    z-index: 0;
    transform: rotate(-80deg);
}

.abFlower26 {
    animation: abLeaf 2.5s infinite;
}

@keyframes abLeaf {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-12deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img26*/
.ab-Img26 {
    width: 40px;
    position: absolute;
    top: 30%;
    left: -7%;
    z-index: 0;
    transform: rotate(-60deg);
}

.abFlower27 {
    animation: abLeaf 2.5s infinite;
}

@keyframes abLeaf {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-12deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img27*/
.ab-Img27 {
    width: 40px;
    position: absolute;
    top: 69%;
    left: 9%;
    z-index: 1;
    transform: rotate(-130deg);
}

.abFlower28 {
    animation: abLeaf 2.5s infinite;
}

@keyframes abLeaf {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-12deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img28*/
.ab-Img28 {
    width: 35px;
    position: absolute;
    top: 60%;
    left: 102%;
    z-index: 1;
    transform: rotate(70deg);
}

.abFlower29 {
    animation: abLeaf1 2.5s infinite;
}

@keyframes abLeaf1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img29*/
.ab-Img29 {
    width: 35px;
    position: absolute;
    top: 34%;
    left: -12%;
    z-index: 0;
    transform: rotate(-70deg) scaleX(-1);
    /* 좌우 반전 추가 */
}

.abFlower30 {
    animation: abLeaf1 2.5s infinite;
}

@keyframes abLeaf1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img30*/
.ab-Img30 {
    width: 85px;
    position: absolute;
    top: 54%;
    left: 14%;
    z-index: 30;
    transform: rotate(300deg) scaleX(-1);
    /* 좌우 반전 추가 */
}

.abFlower31 {
    animation: abLeaf1 2.5s infinite;
}

@keyframes abLeaf1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img31*/
.ab-Img31 {
    width: 55px;
    position: absolute;
    top: 50%;
    left: 6%;
    z-index: 1;
    transform: rotate(60deg) scaleX(-1);
    /* 좌우 반전 추가 */
}

.abFlower32 {
    animation: abLeaf1 2.5s infinite;
}

@keyframes abLeaf1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img32*/
.ab-Img32 {
    width: 40px;
    position: absolute;
    top: 55%;
    left: 3%;
    z-index: 1;
    transform: rotate(60deg) scaleX(-1);
    /* 좌우 반전 추가 */
}

.abFlower33 {
    animation: abLeaf1 2.5s infinite;
}

@keyframes abLeaf1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img33*/
.ab-Img33 {
    width: 37px;
    position: absolute;
    top: -6%;
    left: -7%;
    z-index: 0;
    transform: rotate(-40deg);
    /* 좌우 반전 추가 */
}


.abFlower34 {
    animation: abLeaf1 2.5s infinite;
}

@keyframes abLeaf1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img33-1*/
.ab-Img33-1 {
    width: 44px;
    position: absolute;
    top: -39.25px;
    left: -7%;
    z-index: 0;
    transform: rotate(-40deg);
    /* 좌우 반전 추가 */
}


.abFlower34-1 {
    animation: abLeaf1 2.5s infinite, blink 1s infinite;
    ;
}

@keyframes abLeaf1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

/* ab-Img34*/
.ab-Img34 {
    width: 30px;
    position: absolute;
    top: 62%;
    left: -10%;
    z-index: 0;
    transform: rotate(-130deg);
    /* 좌우 반전 추가 */
}

.abFlower35 {
    animation: abLeaf1 2.5s infinite;
}

@keyframes abLeaf1 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-4deg);
        /* 왼쪽으로 45도 회전 */
    }

    100% {
        transform: rotate(0deg);
        /* 원래 위치로 회전 */
    }
}

/* ab-Img35*/
.ab-Img35 {
    width: 240px;
    position: absolute;
    top: 0%;
    left: -40%;
    z-index: 0;
    transform: rotate(-0deg);
}

.abFlower36 {
    width: 100%;
}

.pofile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    position: relative;
}

/* 액자 */
.ab-Img1 {
    width: 500px;
    top: -6%;
    left: -9%;
    position: absolute;
}

.ab-frame {
    display: block;
    height: auto;
}

/* 프로필 */
.ab-Img2 {
    width: 420px;
    height: 557px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3E98D;
    margin-top: -2px;
    background: linear-gradient(0deg, #F3E98D, #FF83A7);
    /* 초기 그라데이션 설정 */
    animation: gradient-animation 3s infinite;
    /* 애니메이션 적용 */
}

/* 그라데이션 애니메이션 키프레임 정의 */
@keyframes gradient-animation {
    0% {
        background: linear-gradient(-0deg, #FF83A7, #F3E98D);
    }

    25% {
        background: linear-gradient(-10deg, #FF83A7, #F3E98D);
    }

    50% {
        background: linear-gradient(-20deg, #FF83A7, #F3E98D);
    }

    75% {
        background: linear-gradient(-30deg, #FF7774, #F3E98D);
    }

    100% {
        background: linear-gradient(-50deg, #FFA6B6, #F3E98D);
    }
}

.ab-pofile {
    display: block;
    width: 360px;
    height: auto;
    margin-top: 50px;
}

/* 왼쪽 */
.persona1 {
    position: absolute;
    /* top: 38%; */
    left: 1%;
    top: 40%;
    width: 300px;
    display: none;
}


.persona2 {
    position: absolute;
    top: 25%;
    left: 18%;
    width: 280px;
    display: none;
}

/* abtextWrap1 */
.abtextWrap1 {
    position: absolute;
    top: -25%;
    left: 9%;
    width: 400px;
    z-index: 0;
    display: none;
}

.abmainText1 {
    font-family: 'PartialSansKR-Regular';
    font-size: 32px;
    display: inline-block;
    padding: 0px 8px;
    padding-bottom: 3px;
    border-radius: 4px;
    background-color: var(--mainR);

}

.abText1 {
    font-family: 'PartialSansKR-Regular';
    font-size: 26px;
    display: inline-block;
}

.ab__Text1 {
    font-family: var(--fontNa);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -1.2px;
    margin-top: 6px;
    color: var(--black300);
}

/* abtextWrap2 */
.abtextWrap2 {
    position: absolute;
    top: -16%;
    left: 66%;
    display: none;
    width: 390px;
    z-index: 0;
}

.abmainText2 {
    font-family: 'PartialSansKR-Regular';
    font-size: 32px;
    font-weight: 100;
    display: inline-block;
    padding: 0px 8px;
    padding-bottom: 3px;
    border-radius: 4px;
    background-color: var(--mainB);
}

.ab__Text2 {
    font-family: var(--fontNa);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -1.2px;
    margin-top: 6px;
    color: var(--black300);
}

.abText2 {
    font-family: 'PartialSansKR-Regular';
    font-size: 26px;
    display: inline-block;
}

/* abtextWrap3 */
.abtextWrap3 {
    position: absolute;
    width: 440px;
    top: 46%;
    left: 68%;
    display: none;
}

.abmainText3 {
    font-family: 'PartialSansKR-Regular';
    font-size: 32px;
    display: inline-block;
    padding: 0px 8px;
    padding-bottom: 3px;
    border-radius: 4px;
    background-color: var(--mainG);
}

.ab__Text3 {
    font-family: var(--fontNa);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: -1.2px;
    margin-top: 6px;
    color: var(--black300);
}

.abText3 {
    font-family: 'PartialSansKR-Regular';
    font-size: 26px;
    display: inline-block;
}


/* 미디어쿼리 */
@media (max-width: 1780px) {
    .abtextWrap1 {
        left: 4%;
        top: -20%;
    }

    .abtextWrap2 {
        left: 66%;
    }

    .abtextWrap3 {
        left: 68%;
    }

    .persona1 {
        top: 30%;
        left: 3%;
        width: 270px;
    }

    .persona2 {
        left: 19%;
        top: 46%;
        width: 250px;
    }
}

@media (max-width: 1670px) {
    .abtextWrap1 {
        left: 6%;
    }

    .abtextWrap2 {
        left: 66%;
    }

    .abtextWrap3 {
        left: 68%;
    }

    .persona1 {
        top: 40%;
        left: 2%;
    }

    .persona2 {
        left: 19%;
        top: 46%;
    }
}

@media (max-width: 1580px) {
    .abtextWrap1 {
        left: 3%;
        top: -34%;
        width: 350px;
    }

    .abtextWrap2 {
        left: 66%;
        top: -10%;
        width: 330px;
    }

    .abtextWrap3 {
        left: 68%;
        width: 390px;
        top: 42%;
    }

    .persona1 {
        top: 8%;
        left: 6%;
        width: 210px;
    }

    .persona2 {
        left: 10%;
        top: 46%;
        width: 220px;
    }
}

@media (max-width: 1400px) {
    .abtextWrap1 {
        left: 3%;
        top: -34%;
        width: 310px;
    }

    .abtextWrap2 {
        left: 72%;
        top: -17%;
        width: 300px;
    }

    .abtextWrap3 {
        left: 71%;
        width: 340px;
        top: 33%;
    }

    .persona1 {
        top: 4%;
        left: 6%;
        width: 190px;
    }

    .persona2 {
        left: 10%;
        top: 40%;
        width: 180px;
    }
}


@media (max-width: 1150px) {
    .abtextWrap1 {
        left: 0%;
        top: 4%;
        width: 310px;
    }

    .abtextWrap2 {
        left: 72%;
        top: -8%;
        width: 290px;
    }

    .abtextWrap3 {
        left: 72%;
        top: 0%;
        width: 290px;
    }

    .persona1 {
        top: 4%;
        left: 5%;
        width: 220px;
    }

    .persona2 {
        top: 4%;
        left: 5%;
        width: 220px;
    }

    .aboutTittle {
        display: inline-block;
        font-size: 100px !important;/
    }
}

@media (max-width: 960px) {
    .abtextWrap1 {
        display: none;
    }

    .abtextWrap2 {
        display: none;
    }

    .abtextWrap3 {
        display: none;
    }

    .persona1 {
        display: none;
    }

    .persona2 {
        display: none;
    }

    .aboutTittle {
        display: inline-block;
        font-size: 70px !important;/
    }
}

@media (max-width: 684px) {
    .aboutSubtittle {
        font-size: 28px !important;/
    }
}

@media (max-width: 670px) {
    .flowerTextwrap {
        display: none !important;/
    }

    .aboutSubtittle {
        font-size: 26px !important;/
    }

    .abtextWrap1 {
        display: none;
    }

    .abtextWrap2 {
        display: none;
    }

    .abtextWrap3 {
        display: none;
    }

    .persona1 {
        display: none;
    }

    .persona2 {
        display: none;
    }

    .aboutTittle {
        display: inline-block;
        font-size: 50px !important;/
    }
}

@media (max-width: 515px) {
    .flowerTextwrap {
        display: none !important;/
    }

    .aboutSubtittle {
        font-size: 20px !important;/
    }

    .abtextWrap1 {
        display: none;
    }

    .abtextWrap2 {
        display: none;
    }

    .abtextWrap3 {
        display: none;
    }

    .persona1 {
        display: none;
    }

    .persona2 {
        display: none;
    }

    .aboutTittle {
        display: inline-block;
        font-size: 50px !important;/
    }
}