/* Fabringo */
@font-face {
    font-family: 'Fabringo';
    font-weight: 100;
    font-style: normal;
    src: url('/assets/fonts/fabringo/Fabringo.ttf') format('truetype'),
        url('/assets/fonts/fabringo/Fabringo.otf') format('opentype');
    font-display: swap;
}

/* gegant */
@font-face {
    font-family: 'gegant';
    font-weight: 300;
    font-style: normal;
    src: url('/assets/fonts/gegant/Gegant-Bold-iF668e35f62d5cc.ttf') format('truetype'),
        url('/assets/fonts/gegant/Gegant-Bold-iF668e35f626ea4.otf') format('opentype');
    font-display: swap;
}

@font-face {
    font-family: 'gegant';
    font-weight: 200;
    font-style: normal;
    src: url('/assets/fonts/gegant/Gegant-Medium-iF668e35f6ceba2.otf') format('opentype');
    font-display: swap;
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/CabinetGrotesk-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Extrabold.ttf') format('truetype');
    font-weight: 800;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

@font-face {
    font-family: "IropkeBatang";
    font-weight: normal;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.eot") format("embedded-opentype"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.woff2") format("woff2"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/webfontworld/iropke/IropkeBatang.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'PartialSansKR-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}