#flowerSection1 {
    background-color: var(--mainG);
    width: 100%;
    height: 110vh;
    padding: 60px;
    box-sizing: border-box;
}

/* flowerTextwrap */
.flowerTextwrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.flowerSubtittle {
    font-family: var(--fontA);
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: 600;
}

.flowerText {
    font-family: var(--fontNa);
    margin-top: 30px;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -1.2px;
    color: var(--black300);
}

.flTextbold {
    font-family: var(--fontNa);
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -1.2px;
    color: black;
}

/* flowerUl */
.navUl {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.navLi {
    margin-right: 10px;
    /* 리스트 항목 간의 간격 */
}

.navLi:last-child {
    margin-right: 0;
    /* 마지막 항목에 대한 간격 제거 */
}

/* linkHome */
.linkHome {
    padding: 4px 16px;
    border: 1px solid var(--black100);
    font-size: 15px;
    font-family: var(--fontA);
    letter-spacing: -1px;
    font-weight: 700;
    border-radius: 50px;
    display: block;
    background-color: var(--mainV);
    transition: background-color 0.6s, transform 0.3s;
}

.linkHome:hover {
    background-color: var(--mainG);
    transform: rotate(-2deg);
}

/* linkAbout */
.linkAbout {
    padding: 4px 16px;
    border: 1px solid var(--black100);
    font-size: 15px;
    font-family: var(--fontA);
    letter-spacing: -1px;
    border-radius: 50px;
    display: block;
    transition: background-color 0.6s, transform 0.3s;
    /* 전환 효과 추가 */
}

.linkAbout:hover {
    background-color: #FFEC2D;
    transform: rotate(2deg);
    /* 크기와 회전 변환 효과 추가 */
}

.linkSkill {
    padding: 4px 16px;
    border: 1px solid var(--black100);
    font-size: 15px;
    font-family: var(--fontA);
    letter-spacing: -1px;
    border-radius: 50px;
    display: block;
    transition: background-color 0.6s, transform 0.3s;
}

.linkSkill:hover {
    background-color: var(--mainR);
    transform: rotate(2deg);
}

.linkProject {
    padding: 4px 16px;
    border: 1px solid var(--black100);
    font-size: 15px;
    font-family: var(--fontA);
    letter-spacing: -1px;
    border-radius: 50px;
    display: block;
    transition: background-color 0.6s, transform 0.3s;
}

.linkProject:hover {
    background-color: var(--mainB);
    transform: rotate(2deg);
}

.flowerTittle {
    text-transform: uppercase;
    font-size: 110px;
    font-family: 'gegant';
    font-weight: 300;
    position: absolute;
    bottom: -5vw;
    line-height: 1;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    display: block;
    white-space: nowrap;
    /* 텍스트가 한 줄로 유지되도록 설정 */
}