/* project */
#projectBg {
    background-color: var(--mainB);
    width: 100%;
    padding: 60px;
    height: 1600px;
    box-sizing: border-box;
    overflow: hidden;
}

/* projectTextwrap */
.projectTextwrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.projectSubtittle {
    font-family: var(--fontA);
    font-size: 40px;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: 600;
}

.projectText {
    font-family: var(--fontNa);
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -1.2px;
    color: var(--black300);
}

.prTextbold {
    font-family: var(--fontNa);
    margin-top: 24px;
    font-size: 14px;
    line-height: 1.8;
    letter-spacing: -1.2px;
    color: black;
}

/* skillsUl */
.navLi {
    margin-right: 10px;
    /* 리스트 항목 간의 간격 */
}

.navLi:last-child {
    margin-right: 0;
    /* 마지막 항목에 대한 간격 제거 */
}

/* linkHome */
.project-linkHome {
    padding: 4px 16px;
    border: 1px solid var(--black100);
    font-size: 15px;
    font-family: var(--fontA);
    letter-spacing: -1px;
    border-radius: 50px;
    display: block;
    transition: background-color 0.6s, transform 0.3s;
}

.project-linkHome:hover {
    background-color: var(--mainG);
    transform: rotate(2deg);
}

/* linkAbout */
.project-linkAbout {
    padding: 4px 16px;
    border: 1px solid var(--black100);
    font-size: 15px;
    font-family: var(--fontA);
    letter-spacing: -1px;
    border-radius: 50px;
    display: block;
    transition: background-color 0.6s, transform 0.3s;
}

.project-linkAbout:hover {
    background-color: var(--mainY);
    transform: rotate(2deg);
}

/* linkSkill */
.project-linkSkill {
    padding: 4px 16px;
    border: 1px solid var(--black100);
    font-size: 15px;
    font-family: var(--fontA);
    letter-spacing: -1px;
    border-radius: 50px;
    display: block;
    transition: background-color 0.6s, transform 0.3s;
}

.project-linkSkill:hover {
    background-color: var(--mainR);
    transform: rotate(2deg);
}

/* linkProject */
.project-linkProject {
    padding: 4px 16px;
    border: 1px solid var(--black100);
    font-size: 15px;
    font-family: var(--fontA);
    letter-spacing: -1px;
    font-weight: 700;
    border-radius: 50px;
    display: block;
    background-color: var(--mainP);
    transition: background-color 0.6s, transform 0.3s;
}

.project-linkProject:hover {
    background-color: var(--mainB);
    transform: rotate(-2deg);
}

.pr__Textwrap {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    overflow: hidden;
}

.projectTittle {
    text-transform: uppercase;
    font-size: 110px;
    font-family: 'gegant';
    font-weight: 300;
    line-height: 1;
    margin-top: 50px;
    display: block;
    white-space: nowrap;
    z-index: 1000;
}