/* project */
#projectBg {
    /* background-color: #8DBCFF; */
    background-color: var(--mainB);
    width: 100%;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

/* projectSection1 */
.projectSection1 {
    width: 1920px;
    height: 70vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

.skillWrap {
    width: 100%;
    height: 100%;
    position: relative;
}

.skillWrap .prGachaBg {
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    perspective: 600px;
}

/* 가차배경워랩 */
.gachaBg {
    width: 690px;
    position: absolute;
    left: 25%;
    top: -10%;
    transform: rotateY(45deg);
    z-index: 1000;
}

/*  배경 뽑기 공 */
.prGacha2 {
    position: absolute;
    width: 360px;
    top: 15%;
    left: 40%;
}

.prGacha3 {
    position: absolute;
    width: 350px;
    top: 19%;
    left: 41%;
}

/* 뽑기 공 */
.GachaBigbal1 {
    position: absolute;
    width: 98px;
    top: 30%;
    left: 41%;
    border: 5px solid white;
    /* 흰색 테두리를 추가 */
    border-radius: 50%;
    /* 테두리를 원형으로 만듦 */
}

.GachaBigbal2 {
    position: absolute;
    width: 98px;
    top: 21%;
    left: 61%;
    animation: bounceBall2 0.4s infinite alternate;
    border: 5px solid white;
    /* 흰색 테두리를 추가 */
    border-radius: 50%;
    /* 테두리를 원형으로 만듦 */
}

@keyframes bounceBall2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(6px);
    }
}

.GachaBigbal3 {
    position: absolute;
    width: 98px;
    top: 38%;
    left: 53%;
    z-index: 1;
    animation: bounceScale33 2s infinite ease-in-out;
    transform-origin: center;
    border: 5px solid white;
    /* 흰색 테두리를 추가 */
    border-radius: 50%;
    /* 테두리를 원형으로 만듦 */
}

@keyframes bounceScale33 {

    0%,
    100% {
        transform: translateY(0) translateX(0);
    }

    50% {
        transform: translateY(-3px) translateX(30px);
    }
}


.GachaBigbal4 {
    position: absolute;
    width: 90px;
    top: 40%;
    left: 74%;
    border: 5px solid white;
    /* 흰색 테두리를 추가 */
    border-radius: 50%;
    /* 테두리를 원형으로 만듦 */
    animation: moveX 1s infinite alternate, bounceBall 0.4s infinite alternate;
}


@keyframes moveX {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(100px);
    }
}

@keyframes bounceBall {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}

.GachaBigbal5 {
    position: absolute;
    width: 90px;
    top: 24%;
    left: 79%;
}

/* balloon */
.pr-Img1 {
    width: 160px;
    position: absolute;
    top: 2%;
    left: -20%;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

/* 가차2-right */
.pr-Img2 {
    width: 240px;
    position: absolute;
    top: -4%;
    right: -55%;
}

.pr-Img5 {
    width: 40px;
    position: absolute;
    top: 20%;
    left: 11%;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}


.pr-Img6 {
    width: 30px;
    position: absolute;
    top: 7%;
    right: -10%;
    animation: float2 1s ease-in-out infinite;
}

@keyframes float2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}


.pr-Img7 {
    width: 1750px;
    position: absolute;
    top: -20%;
    left: -52%;
    z-index: 0;
    /* background-color: aqua; */
}

/* 가차2-left */
.pr-Img3 {
    width: 30px;
    position: absolute;
    top: 26%;
    right: -17%;
    animation: float2 1s ease-in-out infinite;
}

@keyframes float2 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }
}

.pr-Img4 {
    width: 40px;
    position: absolute;
    top: 6%;
    left: 25%;
    animation: float3 2s ease-in-out infinite, rotate 2s linear infinite;
}

@keyframes float3 {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-4px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.pr-Img8 {
    width: 85px;
    position: absolute;
    top: 62%;
    left: 15%;
    z-index: 1000;
}

.pr-Img9 {
    width: 85px;
    position: absolute;
    top: 68%;
    left: 134.5%;
    z-index: 1000;
}

@media (max-width: 1620px) {

    .gachaBg {
        width: 540px;
        left: 32%;
    }

    .prGacha2 {
        width: 285px;
        top: 15%;
        left: 40%;
    }

    .prGacha3 {
        width: 280px;
        top: 19%;
        left: 41%;
    }

    .pr-Img1 {
        width: 120px;
        top: 8%;
        left: -20%;
    }

    .pr-Img2 {
        width: 190px;
        top: -4%;
        right: -60%;
    }

    .pr-Img5 {
        width: 30px;
        top: 20%;
        left: 11%;
    }

    .pr-Img6 {
        width: 22px;
        top: 7%;
        right: -10%;
    }

    .pr-Img7 {
        width: 1400px;
        top: -25%;
        left: -58%;
    }

    .pr-Img3 {
        width: 25px;
        top: 26%;
        right: -17%;
    }

    .pr-Img4 {
        width: 32px;
        position: absolute;
        top: 4%;
        left: 18%;
    }

    .pr-Img8 {
        width: 63px;
        top: 62%;
        left: 15%;
    }

    .pr-Img9 {
        width: 63px;
        top: 68.5%;
        left: 140%;
    }
}

@media (max-width: 1220px) {

    .gachaBg {
        width: 440px;
        left: 34%;
    }

    .prGacha2 {
        width: 230px;
        top: 15%;
        left: 40%;
    }

    .prGacha3 {
        width: 230px;
        top: 18%;
        left: 41%;
    }

    .pr-Img1 {
        width: 95px;
        top: 8%;
        /* background-color: antiquewhite; */
        left: -20%;
    }

    .pr-Img2 {
        width: 150px;
        top: -4%;
        right: -52%;
    }

    .pr-Img5 {
        width: 20px;
        top: 20%;
        /* background-color: antiquewhite; */
        left: 11%;
    }

    .pr-Img6 {
        width: 18px;
        top: 7%;
        /* background-color: antiquewhite; */
        right: -10%;
    }

    .pr-Img7 {
        width: 1100px;
        top: -25%;
        left: -58%;
    }

    .pr-Img3 {
        width: 20px;
        top: 26%;
        /* background-color: aqua; */
        right: -17%;
    }

    .pr-Img4 {
        width: 28px;
        position: absolute;
        top: 6%;
        left: 18%;
    }

    .pr-Img8 {
        width: 55px;
        top: 62%;
        left: 15%;
    }

    .pr-Img9 {
        width: 55px;
        top: 66%;
        left: 132%;
    }
}

@media (max-width: 900px) {

    .gachaBg {
        width: 360px;
        left: 37%;
        margin-top: 1%;
    }

    .prGacha2 {
        width: 190px;
        top: 15%;
        /* background-color: antiquewhite; */
        left: 40%;
    }

    .prGacha3 {
        width: 190px;
        top: 18%;
        left: 41%;
    }

    .pr-Img1 {
        width: 75px;
        top: 9%;
        /* background-color: antiquewhite; */
        left: -18%;
    }

    .pr-Img2 {
        width: 120px;
        top: 0%;
        right: -52%;
    }

    .pr-Img5 {
        width: 20px;
        top: 20%;
        /* background-color: antiquewhite; */
        left: 11%;
    }

    .pr-Img6 {
        width: 14px;
        top: 18%;
        /* background-color: antiquewhite; */
        right: -10%;
    }

    .pr-Img7 {
        width: 1000px;
        top: -25%;
        left: -60%;
    }

    .pr-Img3 {
        width: 16px;
        top: 26%;
        /* background-color: aqua; */
        right: -17%;
    }

    .pr-Img4 {
        width: 20px;
        position: absolute;
        top: 6%;
        left: 18%;
    }

    .pr-Img8 {
        width: 45px;
        top: 62%;
        left: 15%;
    }

    .pr-Img9 {
        width: 45px;
        top: 69%;
        left: 132%;
    }
}

@media (max-width: 700px) {

    .gachaBg {
        width: 320px;
        left: 39%;
        margin-top: 1%;
    }

    .prGacha2 {
        width: 170px;
        top: 15%;
        /* background-color: antiquewhite; */
        left: 40%;
    }

    .prGacha3 {
        width: 170px;
        top: 18%;
        left: 41%;
    }

    .pr-Img1 {
        width: 55px;
        top: 9%;
        /* background-color: antiquewhite; */
        left: 0%;
    }

    .pr-Img2 {
        width: 106px;
        top: 0%;
        right: -40%;
    }

    .pr-Img5 {
        width: 17px;
        top: 24%;
        /* background-color: antiquewhite; */
        left: 23%;
    }

    .pr-Img6 {
        width: 12px;
        top: 7%;
        /* background-color: antiquewhite; */
        right: -5%;
    }

    .pr-Img7 {
        width: 800px;
        top: -25%;
        left: -60%;
    }

    .pr-Img3 {
        width: 14px;
        top: 26%;
        /* background-color: aqua; */
        right: -7%;
    }

    .pr-Img4 {
        width: 18px;
        position: absolute;
        top: 6%;
        left: 28%;
    }

    .pr-Img8 {
        width: 39px;
        top: 62%;
        left: 15%;
    }

    .pr-Img9 {
        width: 39px;
        top: 69%;
        left: 120%;
    }
}

@media (max-width: 480px) {

    .gachaBg {
        width: 270px;
        left: 40%;
        margin-top: 1%;
    }

    .prGacha2 {
        width: 140px;
        top: 14%;
        /* background-color: antiquewhite; */
        left: 40%;
    }

    .prGacha3 {
        width: 140px;
        top: 18%;
        left: 41%;
    }

    .pr-Img1 {
        width: 45px;
        top: -9%;
        /* background-color: antiquewhite; */
        left: 10%;
    }

    .pr-Img2 {
        width: 95px;
        top: -10%;
        right: -40%;
    }

    .pr-Img5 {
        width: 17px;
        top: 10%;
        /* background-color: antiquewhite; */
        left: 24%;
    }

    .pr-Img6 {
        width: 12px;
        top: -10%;
        /* background-color: antiquewhite; */
        right: -3%;
    }

    .pr-Img7 {
        width: 650px;
        top: -8%;
        left: -42%;
    }

    .pr-Img3 {
        width: 12px;
        top: 12%;
        /* background-color: aqua; */
        right: -7%;
    }

    .pr-Img4 {
        width: 18px;
        position: absolute;
        top: -3%;
        left: 34%;
    }

    .pr-Img8 {
        width: 30px;
        top: 62%;
        left: 15.5%;
    }

    .pr-Img9 {
        width: 30px;
        top: 64%;
        left: 120%;
    }
}

@media (max-width: 370px) {

    .gachaBg {
        width: 220px;
        left: 43%;
        margin-top: 1%;
    }

    .prGacha2 {
        width: 110px;
        top: 16%;
        /* background-color: antiquewhite; */
        left: 40%;
    }

    .prGacha3 {
        width: 110px;
        top: 19%;
        left: 44%;
    }

    .pr-Img1 {
        width: 40px;
        top: -9%;
        /* background-color: antiquewhite; */
        left: 10%;
    }

    .pr-Img2 {
        width: 74px;
        top: 0%;
        right: -33%;
    }

    .pr-Img5 {
        width: 13px;
        top: 20%;
        /* background-color: antiquewhite; */
        left: 24%;
    }

    .pr-Img6 {
        width: 10px;
        top: -13%;
        /* background-color: antiquewhite; */
        right: -10%;
    }

    .pr-Img7 {
        width: 550px;
        top: 6%;
        left: -49%;
    }

    .pr-Img3 {
        width: 12px;
        top: -5%;
        /* background-color: aqua; */
        right: 1%;
    }

    .pr-Img4 {
        width: 14px;
        position: absolute;
        top: -3%;
        left: 36%;
    }

    .pr-Img8 {
        width: 27px;
        top: 62%;
        left: 15.5%;
    }

    .pr-Img9 {
        width: 27px;
        top: 70%;
        left: 113%;
    }
}