#skillBg {
    background-color: #FFB3BA;
    width: 100%;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}



/* skillSection1 */
.skillSection1 {}

.skillLine {
    width: 110%;
    position: absolute;
    left: -8%;
    top: 12%;
}

/* 메인 성 */
.skill-Img1 {
    position: absolute;
    width: 680px;
    right: 5%;
    top: 3%;
}

/* 아이콘 */
/* skIco1_html */
.skIco1 {
    width: 50px;
    position: absolute;
    top: 42px;
    right: 48%;
}

/* skIco2_css */
.skIco2 {
    width: 50px;
    position: absolute;
    top: 86px;
    right: 35%;
}

/* skIco3_figma */
.skIco3 {
    width: 50px;
    position: absolute;
    top: 228px;
    right: 73%;
    z-index: 100;
}

/* skIco4_javascript */
.skIco4 {
    width: 50px;
    position: absolute;
    top: 126px;
    right: 67%;
    z-index: 100;
}

/* skIco5_git */
.skIco5 {
    width: 50px;
    position: absolute;
    top: 227px;
    right: 9.4%;
    z-index: 100;
    transform: rotate(8deg);
}

/* skIco6_ai */
.skIco6 {
    width: 50px;
    position: absolute;
    top: 13.7%;
    right: 110%;
    z-index: 100;
}

/* skIco7_id */
.skIco7 {
    width: 50px;
    position: absolute;
    top: 18.8%;
    right: 4%;
    z-index: 100;
}

/* skIco8_br  */
.skIco8 {
    width: 50px;
    position: absolute;
    top: 14.1%;
    right: 40%;
    z-index: 100;
    transform: rotate(-6deg);
}

.skill-Img2 {
    display: block;
    width: 180px;
    position: absolute;
    top: 25%;
    right: 65%;
    transform: scaleX(-1) rotate(-15deg);
}

.skill-Img3 {
    width: 50px;
    position: absolute;
    top: 39%;
    left: 50%;
}

.skill-Img4 {
    width: 160px;
    position: absolute;
    top: 70%;
    left: 40%;
}

.skill-Img6 {
    width: 105px;
    position: absolute;
    top: 14.6%;
    right: 105%;
}

/* 일러스트 구름 */
.skill-Img5 {
    width: 90px;
    position: absolute;
    top: 0%;
    right: 0%;
    background-color: aqua;
}

.skill-Img7 {
    width: 20px;
    position: absolute;
    top: 36%;
    left: 90%;
}

/* 피그마 구름 */
.skill-Img8 {
    width: 92px;
    position: absolute;
    top: 254px;
    right: 69%;
}