#skillBg {
    background-color: var(--mainR);
    /* background-color: #FFB3BA; */
    width: 100%;
    height: 100vh;
    padding: 30px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

/* skillSection11 */
.skillSection11 {
    display: flex;
    align-items: end;
    justify-content: end;
}


.sk-castle11 {
    width: 700px;
    margin-top: -50px;
}

/* skillSection1 */
.skillSection1 {}

.skillLine {
    width: 2200px;
    position: absolute;
    right: -140px;
    top: 0%;
}

/* 메인 성 */
.skill-Img1 {
    position: absolute;
    width: 680px;
    right: 6%;
    top: 10%;
}

/* 메인 성img */
.sk-castle1 {
    position: relative;
    z-index: 10;
}

/* 아이콘 */
/* skIco1_html */
.skIco1 {
    width: 50px;
    position: absolute;
    top: 42px;
    right: 48%;
    z-index: 11;
}

/* skIco2_css */
.skIco2 {
    width: 50px;
    position: absolute;
    top: 86px;
    right: 35%;
    z-index: 11;
}

/* skIco3_figma */
.skIco3 {
    width: 50px;
    position: absolute;
    top: 228px;
    right: 73%;
    z-index: 100;
}

/* skIco4_javascript */
.skIco4 {
    width: 50px;
    position: absolute;
    top: 126px;
    right: 67%;
    z-index: 100;
}

/* skIco5_git */
.skIco5 {
    width: 50px;
    position: absolute;
    top: 227px;
    right: 9.4%;
    z-index: 100;
    /* transform: rotate(8deg); */
}

/* skIco6_ai */
.skIco6 {
    width: 50px;
    position: absolute;
    top: 540px;
    right: 110%;
    z-index: 100;
}

/* skIco7_id */
.skIco7 {
    width: 50px;
    position: absolute;
    top: 424px;
    right: 4.2%;
    z-index: 100;
}

/* skIco8_br  */
.skIco8 {
    width: 50px;
    position: absolute;
    top: 320px;
    right: 35.2%;
    z-index: 100;
    /* transform: rotate(-6deg); */
}

/* skIco9_photoshop  */
.skIco9 {
    width: 50px;
    position: absolute;
    top: 487px;
    right: 45.5%;
    z-index: 100;
    /* transform: rotate(-6deg); */
}

/* skIco10_php  */
.skIco10 {
    width: 50px;
    position: absolute;
    top: 596px;
    right: 39%;
    z-index: 100;
}

/* skIco11_notion  */
.skIco11 {
    width: 50px;
    position: absolute;
    top: 416px;
    right: 26%;
    z-index: 100;
}

/* skIco12_slack  */
.skIco12 {
    width: 50px;
    position: absolute;
    top: 370px;
    right: 65%;
    z-index: 100;
}

.skill-Img2 {
    display: block;
    width: 180px;
    position: absolute;
    top: 25%;
    right: 65%;
    transform: scaleX(-1) rotate(-15deg);
}

/* 열기구 */
.skill-Img3 {
    width: 60px;
    position: absolute;
    top: 280px;
    right: 130%;
    z-index: 10;
}

/* 큰구름 */
.skill-Img4 {
    width: 210px;
    position: absolute;
    top: 610px;
    right: 120%;
    z-index: 10;
}

/* 일러스트 구름 */
.skill-Img6 {
    width: 105px;
    position: absolute;
    top: 560px;
    right: 105.5%;
}


.skill-Img5 {
    width: 110px;
    position: absolute;
    top: 700px;
    right: 0%;
}

.skill-Img7 {
    width: 20px;
    position: absolute;
    top: 36%;
    left: 90%;
}

/* 피그마 구름 */
.skill-Img8 {
    width: 92px;
    position: absolute;
    top: 254px;
    right: 69%;
}

/* 미디어쿼리 */

@media (max-width: 1770px) {
    .skill-Img1 {
        width: 600px;
    }

    .skI {
        width: 45px;
    }

    .skIco1 {
        top: 32px;
        right: 48%;
    }

    .skIco2 {
        top: 76px;
        right: 35%;
    }

    .skIco3 {
        top: 230px;
        right: 73%;
    }

    .skIco4 {
        top: 100px;
        right: 67%;
    }

    .skIco5 {
        top: 212px;
        right: 9.4%;
    }

    .skIco6 {
        top: 550px;
        right: 111%;
    }

    .skIco7 {
        top: 373px;
        right: 4.2%;
    }

    .skIco8 {
        top: 281px;
        right: 35.2%;
    }

    .skIco9 {
        top: 430px;
        right: 45.5%;
    }

    .skIco10 {
        top: 525px;
        right: 39%;
    }

    .skIco11 {
        top: 370px;
        right: 26%;
    }

    .skIco12 {
        top: 340px;
        right: 64%;
    }
}

@media (max-width: 1620px) {
    .skill-Img1 {
        width: 590px;
    }

    .skI {
        width: 45px;
    }


    .skIco1 {
        top: 32px;
        right: 48%;
    }

    .skIco2 {
        top: 76px;
        right: 35%;
    }

    .skIco3 {
        top: 230px;
        right: 73%;
    }

    .skIco4 {
        top: 100px;
        right: 67%;
    }

    .skIco5 {
        top: 202px;
        right: 9.4%;
    }

    .skIco6 {
        top: 424px;
        right: 114%;
    }

    .skIco7 {
        top: 367px;
        right: 4.2%;
    }

    .skIco8 {
        top: 276px;
        right: 35.2%;
    }

    .skIco9 {
        top: 420px;
        right: 45.5%;
    }

    .skIco10 {
        top: 520px;
        right: 39%;
    }

    .skIco11 {
        top: 370px;
        right: 26%;
    }

    .skIco12 {
        top: 320px;
        right: 64%;
    }

    /* 새 */
    .skill-Img2 {
        width: 160px;
        top: 250px;
    }

    .skill-Img3 {
        width: 50px;
        top: 260px;
    }

    .skill-Img4 {
        width: 160px;
        top: 484px;
        right: 130%;
    }

    .skill-Img6 {
        width: 90px;
        top: 440px;
        right: 110%;
    }

    .skill-Img5 {
        width: 80px;
        top: 560px;
        right: 5%;
    }
}

@media (max-width: 1580px) {
    .skill-Img1 {
        width: 560px;
    }

    .skI {
        width: 43px;
    }

    .skIco1 {
        top: 32px;
        right: 48%;
    }

    .skIco2 {
        top: 76px;
        right: 35%;
    }

    .skIco3 {
        top: 230px;
        right: 73%;
    }

    .skIco4 {
        top: 100px;
        right: 67%;
    }

    .skIco5 {
        top: 202px;
        right: 9.4%;
    }

    .skIco6 {
        top: 424px;
        right: 114%;
    }

    .skIco7 {
        top: 350px;
        right: 4.2%;
    }

    .skIco8 {
        top: 260px;
        right: 35.2%;
    }

    .skIco9 {
        top: 400px;
        right: 45.5%;
    }

    .skIco10 {
        top: 490px;
        right: 39%;
    }

    .skIco11 {
        top: 344px;
        right: 26%;
    }

    .skIco12 {
        top: 320px;
        right: 64%;
    }
}

@media (max-width: 1440px) {
    .skill-Img1 {
        width: 560px;
        top: 10%;
    }

    .skI {
        width: 43px;
    }
}

@media (max-width: 1440px) {
    .skill-Img1 {
        width: 530px;
        top: 20%;
        right: 10%;
    }

    .skill-Img2 {
        width: 140px;
        top: 250px;
        left: 20%;
    }

    .skill-Img3 {
        width: 40px;
        top: 210px;
    }

    .skill-Img4 {
        width: 140px;
        top: 440px;
        right: 130%;
    }

    .skill-Img6 {
        width: 90px;
        top: 400px;
        right: 110%;
    }

    .skIco6 {
        top: 380px;
        right: 113%;
    }

    .skill-Img5 {
        width: 80px;
        top: 560px;
        right: 5%;
    }
}

@media (max-width: 1140px) {
    .skill-Img1 {
        width: 500px;
        top: 25%;
        right: 20%;
    }

    .skI {
        width: 40px;
    }

    .skill-Img2 {
        width: 120px;
        top: 250px;
        left: 20%;
    }

    .skill-Img3 {
        width: 40px;
        top: 210px;
    }

    .skill-Img4 {
        width: 120px;
        top: 420px;
        right: 120%;
    }

    .skill-Img6 {
        width: 80px;
        top: 360px;
        right: 108%;
    }

    .skill-Img7 {
        display: none;
    }

    .skIco6 {
        top: 330px;
        right: 111%;
    }

    .skill-Img5 {
        width: 80px;
        top: 380px;
        right: -16%;
    }
}

@media (max-width: 940px) {
    .skill-Img1 {
        width: 480px;
        top: 26%;
        right: 20%;
    }

    .skI {
        width: 39px;
    }

    .skill-Img2 {
        width: 100px;
        top: 250px;
        left: 16%;
    }

    .skill-Img3 {
        width: 36px;
        top: 180px;
        left: -31%;
    }

    .skill-Img4 {
        width: 120px;
        top: 420px;
        right: 120%;
    }

    .skill-Img6 {
        width: 80px;
        top: 360px;
        right: 108%;
    }

    .skill-Img7 {
        display: none;
    }

    .skIco6 {
        top: 330px;
        right: 111%;
    }

    .skill-Img5 {
        width: 80px;
        top: 380px;
        right: -16%;
    }
}

@media (max-width: 800px) {
    .skill-Img1 {
        width: 480px;
        top: 26%;
        right: 12%;
    }

    .skI {
        width: 37px;
    }

    .skill-Img2 {
        width: 90px;
        top: 290px;
        left: 12%;
    }

    .skill-Img3 {
        display: none;
    }

    .skill-Img4 {
        width: 100px;
        top: 450px;
        right: 98%;
    }

    .skill-Img6 {
        width: 80px;
        top: 360px;
        right: 102%;
    }

    .skill-Img7 {
        display: none;
    }

    .skIco6 {
        top: 330px;
        right: 105%;
    }

    .skill-Img5 {
        width: 80px;
        top: 380px;
        right: -16%;
    }
}

@media (max-width: 670px) {
    .skill-Img1 {
        width: 460px;
        top: 20%;
        right: 12%;
    }

    .skI {
        width: 35px;
    }

    .skill-Img2 {
        width: 68px;
        top: 260px;
        left: 17%;
    }

    .skill-Img3 {
        display: none;
    }

    .skill-Img4 {
        width: 100px;
        top: 480px;
        right: 82%;
    }

    .skill-Img6 {
        width: 70px;
        top: 420px;
        right: 102%;
    }

    .skill-Img7 {
        display: none;
    }

    .skIco6 {
        top: 330px;
        right: 105%;
    }

    .skill-Img5 {
        width: 80px;
        top: 480px;
        right: -4%;
    }
}

@media (max-width: 580px) {
    .skill-Img1 {
        width: 440px;
        top: 20%;
        right: 10%;
    }

    .skI {
        width: 34px;
    }

    .skill-Img2 {
        width: 68px;
        top: 260px;
        left: 17%;
    }

    .skill-Img3 {
        display: none;
    }

    .skill-Img4 {
        width: 80px;
        top: 500px;
        right: 82%;
    }

    .skill-Img6 {
        width: 60px;
        top: 420px;
        right: 90%;
    }

    .skill-Img7 {
        display: none;
    }

    .skIco6 {
        top: 330px;
        right: 105%;
    }

    .skill-Img5 {
        width: 60px;
        top: 460px;
        right: -4%;
    }
}

@media (max-width: 510px) {
    .skill-Img1 {
        width: 410px;
        top: 20%;
        right: 10%;
    }

    .skI {
        width: 32px;
    }

    .skill-Img2 {
        width: 68px;
        top: 260px;
        left: 17%;
    }

    .skill-Img3 {
        display: none;
    }

    .skill-Img4 {
        width: 80px;
        top: 500px;
        right: 82%;
    }

    .skill-Img6 {
        width: 60px;
        top: 420px;
        right: 90%;
    }

    .skill-Img7 {
        display: none;
    }

    .skIco6 {
        top: 330px;
        right: 105%;
    }

    .skill-Img5 {
        width: 60px;
        top: 460px;
        right: -4%;
    }
}

@media (max-width: 480px) {
    .skill-Img1 {
        width: 350px;
        top: 20%;
        right: 11%;
    }

    .skill-Img2 {
        width: 50px;
        top: 200px;
        left: 17%;
    }

    .skill-Img3 {
        display: none;
    }

    .skill-Img4 {
        width: 60px;
        top: 400px;
        right: 82%;
    }

    .skill-Img6 {
        width: 40px;
        top: 360px;
        right: 92%;
    }

    .skill-Img7 {
        display: none;
    }

    .skIco6 {
        top: 330px;
        right: 105%;
    }

    .skill-Img5 {
        width: 60px;
        top: 380px;
        right: 0%;
    }
}

@media (max-width: 400px) {
    .skill-Img1 {
        width: 280px;
        top: 22%;
        right: 9%;
    }

    .skill-Img2 {
        display: none;
    }

    .skill-Img3 {
        display: none;
    }

    .skill-Img4 {
        display: none;
    }

    .skill-Img6 {
        display: none;
    }

    .skill-Img5 {
        display: none;
    }

    .skill-Img7 {
        display: none;
    }

    .skIco6 {
        display: none;
    }

    .skill-Img5 {
        display: none;
    }
}